Repository Xerataw/Gigz, pull requests merged in 2023-06, with the labels that each got.

#1 Yep 17 ionic project initialisation
  GIGZ-FRONT/ionic.config.json
  GIGZ-FRONT/package-lock.json
  GIGZ-FRONT/package.json
  GIGZ-FRONT/postcss.config.js
  GIGZ-FRONT/src/App.vue
  GIGZ-FRONT/src/asset/i18n/en.json
  GIGZ-FRONT/src/asset/i18n/fr.json
  GIGZ-FRONT/src/asset/i18n/translations.ts
  GIGZ-FRONT/src/index.css
  GIGZ-FRONT/src/main.ts
  GIGZ-FRONT/src/views/HomePage.vue
  GIGZ-FRONT/tailwind.config.js
Labels: feature, front

#3 Feat/linting formatting setup
  .eslintrc.js
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .prettierignore
  .prettierrc.json
  GIGZ-FRONT/.eslintrc.js
  GIGZ-FRONT/package.json
  GIGZ-FRONT/src/main.ts
  Makefile
  commitlint.config.js
  package-lock.json
  package.json
Labels: feature

#6 YEP 23 Express project initialisation
  GIGZ-BACK/.dockerignore
  GIGZ-BACK/.gitignore
  GIGZ-BACK/.tool-versions
  GIGZ-BACK/Dockerfile
  GIGZ-BACK/README.md
  GIGZ-BACK/docker-compose.yaml
  GIGZ-BACK/justfile
  GIGZ-BACK/package.json
  GIGZ-BACK/prisma/migrations/20230619080111_init/migration.sql
  GIGZ-BACK/prisma/migrations/migration_lock.toml
  GIGZ-BACK/prisma/schema.prisma
  GIGZ-BACK/src/composition/useDatabase.ts
  GIGZ-BACK/src/server.ts
  GIGZ-BACK/src/v1/index.ts
  GIGZ-BACK/tsconfig.json
  GIGZ-BACK/yarn.lock
  Makefile
Labels: feature, back

#17 Yep 62 token storage system
  .prettierrc.json
  front/.gitignore
  front/.vscode/extensions.json
  front/package-lock.json
  front/package.json
  front/src/types/User.ts
  front/src/types/UserType.ts
  front/src/utils/localStorageUtils.utils.ts
  front/tsconfig.json
Labels: feature, front

#26 YEP-163-Add-cors-headers
  back/package.json
  back/src/server.ts
  back/yarn.lock
Labels: fix, back

#25 YEP-51-Update-profile-artist-route
  back/docker-compose.yaml
  back/insomnia.json
  back/justfile
  back/src/composables/useUtils.ts
  back/src/v1/index.ts
  back/src/v1/profile.ts
  back/tsconfig.json
  back/types/express/index.d.ts
Labels: feature, back
