Repository Xerataw/Gigz, pull requests merged in 2023-07, with the labels that each got.

#28 YEP-34-Login-page
  back/package-lock.json
  back/yarn.lock
  front/src/App.tsx
  front/src/api/Login.api.ts
  front/src/components/Login/ForgotPassword/ForgotPassword.tsx
  front/src/components/Login/Login.tsx
  front/src/pages/Conversations/Conversations.tsx
  front/src/pages/Layout/Layout.tsx
  front/src/pages/Liked/Liked.tsx
  front/src/pages/LoginPage/LoginPage.tsx
  front/src/pages/Profile/Profile.tsx
  front/src/pages/Search/Search.tsx
  front/src/services/GigzFetcher.ts
  front/src/types/GigzResponse.ts
  package-lock.json
  package.json
Labels: feature, front

#29 fix(back): wrong where clause in artist and host database upsert
  back/README.md
  back/justfile
  back/prisma/migrations/20230703092040_unique_constraint_host_and_artist_account_id/migration.sql
  back/prisma/schema.prisma
  back/scripts/0_city.sql.gz
  back/scripts/1_account.sql.gz
  back/scripts/2_artist.sql.gz
  back/scripts/3_genre.sql.gz
  back/scripts/4_account_genre.sql.gz
  back/scripts/5_capacity.sql.gz
  back/scripts/6_host_type.sql.gz
  back/scripts/7_host.sql.gz
  back/scripts/gigz.sql.gz
  back/src/v1/profile.ts
Labels: fix, back

#30 refactor(README.md): split root readme into front/readme & back/readme
  README.md
  front/README.md
Labels: documentation, refactor

#31 FIX(build) build working
  front/src/services/GigzFetcher.ts
  front/src/services/IonicStorageAccessor.ts
  front/src/types/User.ts
Labels: fix, front

#32 YEP-166-Add-husky-post-merge-hook
  Makefile
  back/Dockerfile
  back/justfile
  back/package-lock.json
  back/scripts/gigz.sql.gz
  back/yarn.lock
  package-lock.json
Labels: feature, front, back

#33 YEP-162-Add-music-link-to-artist-profile
  back/prisma/migrations/20230703122313_add_music_link_to_artist/migration.sql
  back/prisma/schema.prisma
Labels: feature, back

#36 fix: là j'ai la flemme pour les messages de commit mon reuf
  .husky/post-merge
Labels: fix

#40 YEP-61-Update-account-route
  Makefile
  back/insomnia.json
  back/justfile
  back/src/v1/accounts.ts
  back/src/v1/index.ts
Labels: feature, back

#38 FEAT(i18n): added translation service and translated login page
  front/src/App.tsx
  front/src/assets/i18n/en.json
  front/src/assets/i18n/fr.json
  front/src/components/Login/ForgotPassword/ForgotPassword.tsx
  front/src/components/Login/Login.tsx
  front/src/i18n.ts
  front/src/main.tsx
  package-lock.json
  package.json
Labels: feature, front

#44 Hotfix/i18n packages
  front/package-lock.json
  front/package.json
  package-lock.json
  package.json
Labels: fix, front

#42 YEP-171-Formatting-the-object’s-keys
  back/insomnia.json
  back/src/composables/useToken.ts
  back/src/composables/useUtils.ts
  back/src/v1/accounts.ts
  back/src/v1/profile.ts
Labels: fix, feature, back

#27 Yep 25 registration page
  back/yarn.lock
  front/src/App.tsx
  front/src/components/Login/ForgotPassword/ForgotPassword.tsx
  front/src/components/Login/Login.tsx
  front/src/components/NestedRoute/NestedRoute.tsx
  front/src/components/Register/AccountStep/AccountCreated.tsx
  front/src/components/Register/AccountStep/FirstStep.tsx
  front/src/components/Register/AccountStep/SecondStep.tsx
  front/src/components/Register/AccountStep/ThirdStep.tsx
  front/src/components/Register/ProfileArtist/FirstStepArtist.tsx
  front/src/components/Register/ProfileArtist/SecondStepArtist.tsx
  front/src/components/Register/ProfileArtist/ThirdStepArtist.tsx
  front/src/configs/mantine.config.ts
  front/src/pages/LoginPage/LoginPage.tsx
  front/src/pages/Register/Register.tsx
  front/src/pages/Register/RegisterArtistProfile.tsx
  front/src/services/GigzFetcher.ts
  front/src/types/User.ts
Labels: feature, front

#43 Yep 172 get genres route
  back/insomnia.json
  back/package-lock.json
  back/package.json
  back/src/composables/useUtils.ts
  back/src/server.ts
  back/src/v1/genres.ts
  back/src/v1/index.ts
Labels: feature, back

#47 Yep 173 get capacities route
  back/src/v1/capacities.ts
  back/src/v1/index.ts
Labels: feature, back

#49 YEP-170-Adding-the-pictures-system
  .gitignore
  Makefile
  back/.gitignore
  back/README.md
  back/docker-compose.yaml
  back/package-lock.json
  back/package.json
  back/prisma/migrations/20230704090316_add_profile_picture_in_artist_and_host/migration.sql
  back/prisma/migrations/20230704135035_changed_profile_picture_to_varchar/migration.sql
  back/prisma/schema.prisma
  back/src/middlewares/authenticate.ts
  back/src/server.ts
  back/src/v1/accounts.ts
  back/src/v1/profile.ts
  back/static/.gitkeep
  back/types/express/index.d.ts
  back/yarn.lock
Labels: feature, back

#46 fix(package.json): removed project dependencies
  package-lock.json
  package.json
Labels: fix

#50 YEP-175-Modify-login-return-fields
  back/src/auth/login.ts
  back/src/composables/useDatabase.ts
Labels: feature, back

#52 YEP-55-Get-host-profile-route
  back/scripts/gigz.sql.gz
  back/src/composables/useUtils.ts
  back/src/server.ts
  back/src/v1/index.ts
  back/src/v1/profiles.ts
Labels: feature, back

#51 YEP-174-Check-if-email-or-phone-are-taken-routes
  back/src/auth/register.ts
Labels: feature, back

#53 YEP-35-Bare-hosts-profile-search-route
  back/src/v1/profiles.ts
Labels: feature, back

#58 YEP-179-Fix-get-genres
  back/scripts/gigz.sql.gz
  back/src/v1/genres.ts
Labels: fix, back

#59 Yep 180 fix the to snake case and to camel case
  back/src/composables/useUtils.ts
  back/src/v1/genres.ts
  back/src/v1/profiles.ts
Labels: fix, back

#60 YEP-54-Get-profile-route
  back/src/composables/useUtils.ts
  back/src/v1/profiles.ts
Labels: feature, back

#62 fix-profile-search-route
  back/src/v1/profiles.ts
Labels: fix, back

#64 YEP-90-Add-name-text-filter-to-profile-search-routes
  back/src/v1/profiles.ts
Labels: feature, back

#65 Yep 91 add capacity filter to hosts profile search route
  back/src/v1/profiles.ts
Labels: feature, back

#66 feat(profilePicture): added profile picture component
  front/src/components/ProfilePicture/ProfilePicture.tsx
Labels: feature, front

#68 YEP-48-Add-genre-filter-to-profile-search-route
  back/src/v1/profiles.ts
Labels: feature, back

#69 Profile drawer
  front/index.html
  front/package-lock.json
  front/package.json
  front/src/App.tsx
  front/src/api/Genres.api.ts
  front/src/api/User.api.ts
  front/src/components/BottomNavbar/BottomNavbar.tsx
  front/src/components/ForgotPassword/ForgotPassword.tsx
  front/src/components/Icon/ExternalLinkIcon.tsx
  front/src/components/NestedRoute/NestedRoute.tsx
  front/src/components/Profile/ArtistProfileView.tsx
  front/src/components/Profile/HostProfileView.tsx
  front/src/components/Profile/ProfileView/MediaCarousel.tsx
  front/src/components/Profile/ProfileView/ProfileBanner.tsx
  front/src/components/Profile/ProfileView/ProfileDrawer.tsx
  front/src/components/Profile/ProfileView/ProfileSections/Biography.tsx
  front/src/components/Profile/ProfileView/ProfileSections/LocationMap.tsx
  front/src/components/Profile/ProfileView/ProfileSections/MusicEmbeds/MusicEmbed.tsx
  front/src/components/Profile/ProfileView/ProfileSections/MusicEmbeds/SpotifyEmbed.tsx
  front/src/components/Profile/ProfileView/ProfileSections/MusicProfiles.tsx
  front/src/components/Profile/ProfileView/ProfileSections/ProfileSection.tsx
  front/src/components/Profile/ProfileView/ProfileSections/Socials.tsx
  front/src/components/Profile/ProfileView/ProfileView.tsx
  front/src/components/Register/AccountStep/FirstStep.tsx
  front/src/components/Register/ProfileArtist/FifthStepArtist.tsx
  front/src/configs/mantineTheme.config.ts
  front/src/configs/muiTheme.config.ts
  front/src/index.css
  front/src/main.tsx
  front/src/pages/Layout/Layout.tsx
  front/src/pages/Login/Login.tsx
  front/src/pages/LoginPage/LoginPage.tsx
  front/src/pages/Profile/Profile.tsx
  front/src/pages/Register/Register.tsx
  front/src/services/GigzFetcher.ts
  front/src/services/IonicStorageAccessor.ts
  front/src/services/SectionAvailability.ts
  front/src/types/Genre.ts
  front/src/types/IArtistProfile.ts
  front/src/types/IHostProfile.ts
  front/src/types/IProfile.ts
  front/src/types/Media.ts
  front/src/types/MediaType.ts
  front/src/types/User.ts
  front/src/types/UserType.ts
Labels: feature, front

#67 Yep 10 conversation list
  back/src/composables/useUtils.ts
  front/src/api/Chat.api.ts
  front/src/components/ChatList/ChatItem/ChatItem.tsx
  front/src/components/ChatList/ChatList.tsx
  front/src/pages/Conversations/Conversations.tsx
  front/src/pages/Layout/Layout.tsx
  front/src/types/Chat.ts
Labels: feature, front

#71 YEP-177-Get-profile-gallery
  .eslintrc.js
  back/docker-compose.yaml
  back/insomnia.json
  back/package-lock.json
  back/package.json
  back/prisma/migrations/20230710114836_add_gallery_table/migration.sql
  back/prisma/migrations/20230710150557_add_gallery_is_profile_picture/migration.sql
  back/prisma/migrations/20230711093713_add_profile_pictures_table/migration.sql
  back/prisma/schema.prisma
  back/src/auth/login.ts
  back/src/composables/useDatabase.ts
  back/src/middlewares/rateLimiter.ts
  back/src/v1/artists.ts
  back/src/v1/genres.ts
  back/src/v1/hosts.ts
  back/src/v1/index.ts
  back/src/v1/me/account.ts
  back/src/v1/me/artist.ts
  back/src/v1/me/gallery.ts
  back/src/v1/me/genres.ts
  back/src/v1/me/host.ts
  back/src/v1/me/index.ts
  back/src/v1/me/profilePicture.ts
  back/src/v1/profiles.ts
Labels: feature, back

#72 feat(back): added routes GET /me/{artist,host} to get profile
  back/insomnia.json
  back/src/v1/me/artist.ts
  back/src/v1/me/host.ts
Labels: feature, back

#74 YEP-186-Migrate-location-storage-system
  back/prisma/migrations/20230711145917_location_modifs/migration.sql
  back/prisma/schema.prisma
  back/scripts/gigz.sql.gz
Labels: feature, back

#77 YEP-JSP-little-fixes-back
  back/package-lock.json
  back/package.json
  back/src/v1/artists.ts
  back/src/v1/hosts.ts
Labels: fix, back

#78 fix(back): gallery add many returns id of created images
  back/src/v1/me/gallery.ts
Labels: fix, back

#81 YEP-JSP-PRISMA-UPGRADE
  back/package-lock.json
  back/package.json
Labels: back

#79 Yep no se multiple form header
  front/src/components/Register/StepperIcons.tsx
  front/src/pages/Register/RegisterArtistProfile.tsx
Labels: feature, front

#75 Yep 139 profile picture form step
  back/src/v1/me/gallery.ts
  front/src/api/profilePicture.ts
  front/src/components/ProfilePicture/ProfilePicture.tsx
  front/src/components/Register/ProfileArtist/ProfilePictureStep.tsx
  front/src/pages/Register/RegisterArtistProfile.tsx
  front/src/services/GigzFetcher.ts
Labels: feature, front

#76 YEP-140-Presentation-Pictures-step
  front/package-lock.json
  front/src/api/gallery.ts
  front/src/components/Register/ProfileArtist/PresentationPicturesStep.tsx
  front/src/pages/Register/RegisterArtistProfile.tsx
Labels: feature, front

#83 fix(back): added genres to profile routes
  back/src/v1/me/artist.ts
  back/src/v1/me/host.ts
Labels: fix, back

#80 Yep no se2 multiple form reorder
  front/src/components/Register/ProfileSteps/AddressCompleteStep.tsx
  front/src/components/Register/ProfileSteps/DescriptionStep.tsx
  front/src/components/Register/ProfileSteps/GenreStep.tsx
  front/src/components/Register/ProfileSteps/NameStep.tsx
  front/src/components/Register/ProfileSteps/PresentationPicturesStep.tsx
  front/src/components/Register/ProfileSteps/ProfilePictureStep.tsx
  front/src/components/Register/ProfileSteps/SocialLinksStep.tsx
  front/src/configs/profileFormArtistConfig.ts
  front/src/pages/Register/RegisterArtistProfile.tsx
  front/src/services/LinkUtils.ts
Labels: fix, front

#84 Feat/get profile banner genres
  front/src/api/user.ts
  front/src/pages/Login/Login.tsx
  front/src/pages/Profile/Profile.tsx
  front/src/store/User.ts
  front/src/types/EProfileType.ts
  front/src/types/EUserType.ts
  front/src/types/IHostProfile.ts
  front/src/types/IProfile.ts
Labels: refactor, front

#86 update-address
  back/prisma/migrations/20230717113317_update_address_fields_type/migration.sql
  back/prisma/schema.prisma
  back/src/v1/me/artist.ts
  back/src/v1/me/host.ts
Labels: feature, back

#90 YEP-59-Add-favorite-route
  back/src/v1/me/favorites.ts
  back/src/v1/me/index.ts
Labels: feature, back

#92 Profile view traduction + profile type storage fix
  front/src/assets/i18n/en.json
  front/src/assets/i18n/fr.json
  front/src/components/ProfileView/ProfileBanner.tsx
  front/src/components/ProfileView/ProfileSections/Biography.tsx
  front/src/components/ProfileView/ProfileSections/LocationMap.tsx
  front/src/components/ProfileView/ProfileSections/MusicProfiles.tsx
  front/src/components/ProfileView/ProfileSections/Socials.tsx
  front/src/store/User.ts
Labels: fix, feature, front

#93 Profile gallery
  front/src/components/ProfileView/Gallery.tsx
  front/src/components/ProfileView/MediaCarousel.tsx
  front/src/components/ProfileView/ProfileView.tsx
  front/src/pages/Profile/Profile.tsx
  front/src/types/IMedia.ts
Labels: feature, front

#95 YEP-89-Add-proximity-sorting-to-profile-search-routes
  back/src/composables/useDatabase.ts
  back/src/composables/useUtils.ts
  back/src/middlewares/authenticate.ts
  back/src/v1/artists.ts
  back/src/v1/hosts.ts
  back/types/express/index.d.ts
Labels: feature, back

#94 Host address displayed inside chip if no longitude or latitude
  front/src/components/ProfileView/HostProfileView.tsx
  front/src/components/ProfileView/ProfileSections/LocationChip.tsx
Labels: feature, front

#98 YEP-JSP-fix-profile-picture-not-sent
  back/prisma/schema.prisma
  back/src/v1/artists.ts
  back/src/v1/hosts.ts
Labels: fix, back

#99 YEP-22-List-messages-route
  back/insomnia.json
  back/src/v1/me/conversations.ts
  back/src/v1/me/messages.ts
Labels: feature, back

#96 feat(search list): display a generic result list
  front/README.md
  front/package.json
  front/src/api/search.ts
  front/src/assets/i18n/en.json
  front/src/assets/i18n/fr.json
  front/src/components/Chat/ChatItem/ChatItem.tsx
  front/src/components/Chat/ChatList.tsx
  front/src/components/ProfileView/ProfileBanner.tsx
  front/src/components/Register/ProfileSteps/GenreStep.tsx
  front/src/components/Search/Result/ResultProfileDrawer.tsx
  front/src/components/Search/Result/SearchResult.tsx
  front/src/components/Search/Result/SearchResultList.tsx
  front/src/components/Search/SearchBar.tsx
  front/src/pages/Search/Search.tsx
  front/src/types/IGenre.ts
  front/src/types/IResult.ts
  package.json
Labels: feature, front

#101 Yep jsp fix from db format
  back/src/composables/useUtils.ts
  back/src/server.ts
  back/src/v1/me/conversations.ts
Labels: fix, back

#103 refactor(app-context): put genres and user in context for all app
  front/package-lock.json
  front/package.json
  front/src/api/genres.ts
  front/src/components/BottomNavbar.tsx
  front/src/components/ProfileView/ArtistProfileView.tsx
  front/src/components/ProfileView/Gallery.tsx
  front/src/components/ProfileView/HostProfileView.tsx
  front/src/components/ProfileView/ProfileDrawer.tsx
  front/src/components/ProfileView/ProfileView.tsx
  front/src/components/Register/ProfileSteps/GenreStep.tsx
  front/src/components/Register/ProfileSteps/ProfilePictureStep.tsx
  front/src/components/Search/Result/ResultProfileDrawer.tsx
  front/src/main.tsx
  front/src/pages/Login/Login.tsx
  front/src/pages/Profile/Profile.tsx
  front/src/pages/Register/Register.tsx
  front/src/store/AppProvider.tsx
  front/src/store/GenresProvider.tsx
  front/src/store/UserProvider.tsx
Labels: feature, refactor, front

#105 feat: bridge between back and front (conversation-wise)
  back/prisma/schema.prisma
  back/src/auth/login.ts
  back/src/composables/useDatabase.ts
  back/src/v1/artists.ts
  back/src/v1/hosts.ts
  back/src/v1/me/conversations.ts
  front/src/api/chat.ts
  front/src/components/Chat/ChatItem/ChatItem.tsx
  front/src/components/ChatList/ChatItem/ChatItem.tsx
  front/src/components/ChatList/ChatList.tsx
  front/src/types/IChat.ts
Labels: feature, front, back

#104 feat(profile from seach): display a profile details from search
  front/src/api/search.ts
  front/src/components/ProfilePicture.tsx
  front/src/components/ProfileView/ProfileBanner.tsx
  front/src/components/Search/Result/ResultProfileDrawer.tsx
  front/src/components/Search/Result/SearchResultList.tsx
Labels: feature, front

#106 fix(initial-laoding): load all context before rendering the pages
  front/src/App.tsx
  front/src/components/BottomNavbar.tsx
  front/src/components/Loading.tsx
  front/src/components/ProfileView/ProfileDrawer.tsx
  front/src/components/Register/ProfileSteps/GenreStep.tsx
  front/src/pages/Login/Login.tsx
  front/src/pages/Profile/Profile.tsx
  front/src/pages/Register/Register.tsx
  front/src/store/AppProvider.tsx
  front/src/store/GenresProvider.tsx
  front/src/store/InitialLoadingProvider.tsx
  front/src/store/UserProvider.tsx
Labels: fix, feature, front

#108 Yep 224 create the private message system
  back/package-lock.json
  back/package.json
  back/prisma/migrations/20230724122027_add_user_id_to_account/migration.sql
  back/prisma/schema.prisma
  back/scripts/gigz.sql.gz
  back/src/auth/login.ts
  back/src/auth/register.ts
  back/src/server.ts
  back/src/v1/me/messages.ts
Labels: feature, back

#111 fix: longitude and latitude optionnal
  back/src/v1/me/host.ts
Labels: fix, back

#112 fix: fix the migration proile_picture problem
  back/prisma/schema.prisma
  back/src/auth/login.ts
Labels: fix, back

#110 refactor(front-api): moved api functions
  front/src/api/auth.ts
  front/src/api/gallery.ts
  front/src/api/genres.ts
  front/src/api/login.ts
  front/src/api/profile.ts
  front/src/api/profilePicture.ts
  front/src/api/user.ts
  front/src/components/Steps/PresentationPicturesStep.tsx
  front/src/components/Steps/ProfilePictureStep.tsx
  front/src/pages/Login/Login.tsx
  front/src/pages/Register/Register.tsx
  front/src/pages/Register/RegisterArtistProfile.tsx
  front/src/pages/Register/RegisterHostProfile.tsx
Labels: refactor, front

#109 feat(settings-button): settings button style updated to be consistent
  front/src/components/LightRoundButton.tsx
  front/src/components/Settings/Settings.tsx
Labels: feature, front

#114 Fix/register patch and genres provider
  front/src/api/capacities.ts
  front/src/api/user.ts
  front/src/components/Steps/CapacityStep.tsx
  front/src/components/Steps/GenreStep.tsx
  front/src/components/Steps/ProfilePictureStep.tsx
  front/src/configs/steppers/stepperHostConfig.tsx
  front/src/pages/Login/Login.tsx
  front/src/pages/Register/Register.tsx
  front/src/pages/Register/RegisterArtistProfile.tsx
  front/src/pages/Register/RegisterHostProfile.tsx
  front/src/services/GigzFetcher.ts
  front/src/store/AppProvider.tsx
  front/src/store/GenresProvider.tsx
  front/src/store/InitialLoadingProvider.tsx
  front/src/store/User.ts
  front/src/types/ICapacity.ts
  front/src/types/IHostProfile.ts
Labels: fix, front

#115 fix: add capacity to hosts return
  back/src/v1/hosts.ts
  back/src/v1/me/host.ts
Labels: fix, back

#116 YEP-218 Language Change
  front/src/assets/i18n/en.json
  front/src/assets/i18n/fr.json
  front/src/components/ProfileView/ProfileView.tsx
  front/src/components/Settings/Language.tsx
  front/src/components/Settings/Settings.tsx
  front/src/services/GigzFetcher.ts
  front/src/store/UserProvider.tsx
  front/src/types/ELanguage.ts
  front/src/types/Settings.ts
  front/src/types/User.ts
  front/src/types/utils/storeUser.ts
Labels: feature, front

#117 Yep jsp fix genres
  back/src/v1/artists.ts
  back/src/v1/hosts.ts
  back/src/v1/me/host.ts
Labels: fix, back

#122 Yep 204 name edit
  front/src/App.tsx
  front/src/components/Chat/ChatList.tsx
  front/src/components/ProfileView/ProfileBanner.tsx
  front/src/components/ProfileView/bannerFields/BannerName.tsx
  front/src/pages/Profile/Profile.tsx
  front/src/store/ProfileEditProvider.tsx
Labels: feature, front

#118 Yep 123 setup email in backend
  back/package-lock.json
  back/package.json
  back/src/composables/useEmail.ts
Labels: feature, back

#123 YEP-227 Invisible Mode
  front/src/assets/i18n/en.json
  front/src/assets/i18n/fr.json
  front/src/components/Settings/InsivibleMode.tsx
  front/src/components/Settings/Settings.tsx
  front/src/types/User.ts
Labels: feature, front

#125 Yep 127 send account validation email on register
  .github/workflows/release.yml
  back/package-lock.json
  back/package.json
  back/prisma/migrations/20230726075449_user_id_is_unique/migration.sql
  back/prisma/schema.prisma
  back/public/emailAlreadyValidated.html
  back/public/emailConfirmationTemplate.html
  back/public/emailValidated.html
  back/public/notFound.html
  back/public/serverError.html
  back/src/auth/index.ts
  back/src/auth/register.ts
  back/src/auth/validateEmail.ts
  back/src/composables/useEmail.ts
  back/src/middlewares/rateLimiter.ts
  back/src/v1/me/gallery.ts
  back/src/v1/me/profilePicture.ts
Labels: feature, back

#126 YEP-128-Check-email-account-validation-middleware
  back/src/composables/useUtils.ts
  back/src/middlewares/authenticate.ts
Labels: feature, back

#119 feat(ProfileBaner): if name too long, truncated and capacity displayed
  back/public/emailAlreadyValidated.html
  back/public/emailValidated.html
  back/public/notFound.html
  back/public/serverError.html
  back/src/auth/validateEmail.ts
  back/src/composables/useUtils.ts
  back/src/v1/me/conversations.ts
  front/src/components/ProfileView/Gallery.tsx
  front/src/components/ProfileView/ProfileBanner.tsx
  front/src/components/ProfileView/ProfileDrawer.tsx
  front/src/components/ProfileView/bannerFields/BannerName.tsx
  front/src/components/Search/Result/ResultProfileDrawer.tsx
  front/src/pages/Profile/Profile.tsx
  front/src/services/apiTypesHelper.ts
  front/src/store/ProfileEditProvider.tsx
  front/src/types/IHostProfile.ts
  front/src/types/IMedia.ts
Labels: feature, front

#124 Yep 66 search button
  .github/workflows/release.yml
  back/README.md
  back/docker-compose.yaml
  back/src/v1/me/conversations.ts
  front/src/api/search.ts
  front/src/assets/i18n/en.json
  front/src/assets/i18n/fr.json
  front/src/components/GenreSelectionList.tsx
  front/src/components/GigzAccordion.tsx
  front/src/components/ProfilePicture.tsx
  front/src/components/ProfileView/ProfileView.tsx
  front/src/components/Register/ProfileSteps/GenreStep.tsx
  front/src/components/Search/Filters/CapacityRange.tsx
  front/src/components/Search/Filters/GenreSelector.tsx
  front/src/components/Search/Filters/ProfileType.tsx
  front/src/components/Search/Result/Result.tsx
  front/src/components/Search/Result/ResultList.tsx
  front/src/components/Search/SearchBar.tsx
  front/src/components/Settings/Email.tsx
  front/src/components/Settings/Password.tsx
  front/src/components/Settings/Phone.tsx
  front/src/components/Settings/Settings.tsx
  front/src/pages/Search/Search.tsx
  front/src/services/GigzFetcher.ts
  front/src/services/sectionAvailability.ts
  front/src/types/IFilter.ts
Labels: feature, front

#133 Yep jsp search and by id favorited or not
  back/src/v1/artists.ts
  back/src/v1/hosts.ts
Labels: feature, back
