Repository Xerataw/Gigz, pull requests merged in 2023-08, with the labels that each got.

#137 YEP-fix-artist-get-all-route
  back/src/v1/artists.ts
  back/src/v1/hosts.ts
Labels: fix, back

#136 feat(like button): like an account
  front/src/api/favorites.ts
  front/src/assets/i18n/en.json
  front/src/assets/i18n/fr.json
  front/src/components/ProfileView/ProfileBanner.tsx
  front/src/components/Search/Filters/CapacityRange.tsx
  front/src/components/Search/Result/Result.tsx
  front/src/components/Search/SearchBar.tsx
  front/src/pages/Search/Search.tsx
  front/src/types/IFilter.ts
  front/src/types/IResult.ts
  front/tailwind.config.js
Labels: feature, front

#139 Yep 205 profile picture edit
  front/src/components/ProfileView/ProfileBanner.tsx
  front/src/components/ProfileView/bannerEditFields/BannerEditName.tsx
  front/src/components/ProfileView/bannerEditFields/ProfilePictureEdit.tsx
  front/src/pages/Profile/Profile.tsx
  front/src/services/apiTypesHelper.ts
  front/src/store/ProfileEditProvider.tsx
Labels: feature, front

#140 refactor(banner-edit-components-name): components renamed to be more …
  front/src/components/ProfileView/EditFields/NameEdit.tsx
  front/src/components/ProfileView/EditFields/ProfilePictureEdit.tsx
  front/src/components/ProfileView/ProfileBanner.tsx
Labels: refactor, front

#144 YEP-display-favorite-accounts-info
  back/prisma/migrations/20230801125823_change_liked_account_table_semantic/migration.sql
  back/prisma/schema.prisma
  back/src/v1/artists.ts
  back/src/v1/hosts.ts
  back/src/v1/me/favorites.ts
Labels: fix, back

#141 Yep 235 add tool tips
  front/src/App.tsx
  front/src/assets/i18n/en.json
  front/src/assets/i18n/fr.json
  front/src/components/Animations/animation.css
  front/src/components/MusicGenreButton.tsx
  front/src/components/Steps/AddressCompleteStep.tsx
  front/src/components/Steps/CapacityStep.tsx
  front/src/components/Steps/DescriptionStep.tsx
  front/src/components/Steps/GenreStep.tsx
  front/src/components/Steps/MailPhoneStep.tsx
  front/src/components/Steps/NameStep.tsx
  front/src/components/Steps/PasswordStep.tsx
  front/src/components/Steps/PresentationPicturesStep.tsx
  front/src/components/Steps/ProfilePictureStep.tsx
  front/src/components/Steps/ProfileTypeStep.tsx
  front/src/components/Steps/SocialLinksStep.tsx
  front/src/components/Tooltip/Helper.tsx
  front/src/configs/steppers/stepperRegisterConfig.tsx
  front/src/pages/Register/Register.tsx
  front/src/pages/Register/RegisterArtistProfile.tsx
  front/src/pages/Register/RegisterHostProfile.tsx
  front/src/services/PasswordUtils.tsx
  front/src/types/IStepProps.ts
Labels: refactor, front

#150 fix(login error): display login errors
  front/src/api/auth.ts
  front/src/services/GigzFetcher.ts
Labels: fix, front
