Repository Xerataw/Gigz, pull requests merged in 2023-09, with the labels that each got.

#154 Yep 209 social media edit
  front/src/api/user.ts
  front/src/components/ExternalLinkIcon.tsx
  front/src/components/ProfileView/ArtistProfileView.tsx
  front/src/components/ProfileView/EditFields/LinkEditModalContent.tsx
  front/src/components/ProfileView/EditFields/SocialsEdit.tsx
  front/src/components/ProfileView/HostProfileView.tsx
  front/src/components/Settings/Email.tsx
  front/src/components/Settings/Password.tsx
  front/src/components/Settings/Phone.tsx
  front/src/pages/Profile/Profile.tsx
  front/src/services/GigzFetcher.ts
  front/src/store/ProfileEditProvider.tsx
  front/src/types/IArtistProfileEditValues.ts
  front/src/types/IHostProfileEditValues.ts
  front/src/types/IPatchAccount.ts
  front/src/types/IProfileEditValues.ts
Labels: feature, front

#156 YEP-JSP-like-pagination
  back/src/composables/useUtils.ts
  back/src/v1/me/favorites.ts
Labels: feature, back

#155 YEP-JSP-new-search pagination + accoutId
  back/src/v1/artists.ts
  back/src/v1/hosts.ts
Labels: feature, back

#159 YEP-JSP-fix-patch-me-artist : ajout de musicLink
  back/src/v1/me/artist.ts
Labels: fix, back

#161 YEP-JSP-fix-unseen-conv: just recipient messages
  back/src/v1/me/conversations.ts
Labels: fix, back

#162 fix: id for liked & don't display the user in the search
  back/src/v1/artists.ts
  back/src/v1/hosts.ts
  back/src/v1/me/favorites.ts
Labels: fix, back

#164 YEP-JSP-fix-conversation-id: conversation/id seen
  back/src/v1/me/conversations.ts
Labels: fix, back

#158 feat(music-profiles-edit): can edit music accounts for artists
  front/src/components/ProfileView/ArtistProfileView.tsx
  front/src/components/ProfileView/EditFields/LinkEditModalContent.tsx
  front/src/components/ProfileView/EditFields/MusicProfilesEdit.tsx
  front/src/components/ProfileView/EditFields/SocialsEdit.tsx
  front/src/components/ProfileView/ProfileSections/MusicProfiles.tsx
  front/src/store/ProfileEditProvider.tsx
  front/src/types/IProfileEditValues.ts
Labels: feature, front

#167 YEP-JSP-send-userUuid: send the recipient uuid
  back/src/v1/me/messages.ts
Labels: fix, back

#163 feat(set host location): change profile location on map
  front/package-lock.json
  front/package.json
  front/src/components/ProfileView/ArtistProfileView.tsx
  front/src/components/ProfileView/HostProfileView.tsx
  front/src/components/ProfileView/ProfileSections/LocationMap.tsx
  front/src/components/ProfileView/ProfileSections/locationSearchField.css
  front/src/services/sectionAvailability.ts
  front/src/store/ProfileEditProvider.tsx
Labels: feature, front

#166 Yep 211 embed edit
  front/src/components/ProfileView/EditFields/EmbedEdit.tsx
  front/src/components/ProfileView/ProfileDrawer.tsx
  front/src/components/ProfileView/ProfileSections/MusicEmbeds/SpotifyEmbed.tsx
  front/src/store/ProfileEditProvider.tsx
  front/src/types/IProfileEditValues.ts
Labels: feature, front

#169 YEP-JSP-pagination-conversations: pagination for the conversation list
  back/src/v1/me/conversations.ts
Labels: fix, back

#172 YEP-JSP-delete-genre: delete genreé
  back/src/v1/me/genres.ts
Labels: feature, back

#177 fix(chat pagination): fixed chat messages
  front/src/components/Chat/Chat.tsx
  front/src/components/Chat/ConversationList.tsx
Labels: fix, front

#176 Yep 207 genres edit
  front/src/api/user.ts
  front/src/components/ProfileView/EditFields/AddGenresList.tsx
  front/src/components/ProfileView/EditFields/GenresEdit.tsx
  front/src/components/ProfileView/GenresList.tsx
  front/src/components/ProfileView/ProfileBanner.tsx
  front/src/pages/Profile/Profile.tsx
  front/src/store/ProfileEditProvider.tsx
  front/src/types/IProfileEditValues.ts
Labels: feature, front

#178 Capacity edit
  front/src/components/ProfileView/EditFields/AddCapacitiesList.tsx
  front/src/components/ProfileView/EditFields/BiographyEdit.tsx
  front/src/components/ProfileView/EditFields/CapacityEdit.tsx
  front/src/components/ProfileView/Gallery.tsx
  front/src/components/ProfileView/GenresList.tsx
  front/src/components/ProfileView/HostProfileView.tsx
  front/src/components/ProfileView/ProfileBanner.tsx
  front/src/components/ProfileView/ProfileDrawer.tsx
  front/src/pages/Profile/Profile.tsx
  front/src/store/ProfileEditProvider.tsx
  front/src/types/IArtistProfileEditValues.ts
  front/src/types/IHostProfileEditValues.ts
  front/src/types/IProfileEditValues.ts
Labels: feature, front

#182 feat(favorites): list favorites
  back/src/v1/artists.ts
  back/src/v1/hosts.ts
  back/src/v1/me/favorites.ts
  front/src/api/favorites.ts
  front/src/assets/i18n/en.json
  front/src/assets/i18n/fr.json
  front/src/components/Search/Result/Result.tsx
  front/src/components/Search/Result/ResultList.tsx
  front/src/pages/Liked/Liked.tsx
  front/src/pages/Search/Search.tsx
  front/src/types/IProfile.ts
  front/src/types/IResult.ts
Labels: feature, front

#183 feat(phone-build): edited capacitor config for phone build + embed ed…
  front/capacitor.config.ts
  front/resources/icon-only.png
  front/src/assets/i18n/en.json
  front/src/assets/i18n/fr.json
  front/src/components/ProfileView/EditFields/EmbedEdit.tsx
Labels: feature, front

#184 feat(conversation): send new message to account
  front/src/api/chat.ts
  front/src/components/Chat/ConversationList.tsx
  front/src/components/ProfileView/ProfileBanner.tsx
  front/src/components/ProfileView/ProfileView.tsx
  front/src/components/ProfileView/profileView.css
  front/src/components/Search/Result/Result.tsx
  front/src/types/IProfile.ts
  front/src/types/chat/IChat.ts
Labels: feature, front

#187 fix(ProfileEditProvider): wait genres to be updated before continuing
  front/src/store/ProfileEditProvider.tsx
Labels: fix, front
